packages:
  yum:
    postgresql93-devel: []
    libjpeg-turbo-devel: []

container_commands:
  collectstatic:
    command: "python manage.py collectstatic --noinput"
  01syncdb:
    command: "python manage.py makemigrations --noinput"
    leader_only: true
  02migrate:
    command: "python manage.py migrate"
    leader_only: true
  03wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'